<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <commands>
      <command name="item:setlayoutdetails" type="Sitecore.Support.Commands.SetLayoutDetails, Sitecore.Support.329859" 
               patch:instead="*[@type='Sitecore.Shell.Framework.Commands.SetLayoutDetails,Sitecore.Kernel']"/>
    </commands>
  </sitecore>
</configuration>